/* Global Styles for Body and Root */
body, #root {
  display: flex;
  flex-direction: column;
  align-items: center; /* Only center horizontally */
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* Main Content */
.main-content {
  width: 100%;
  max-width: 1200px;
  
  box-sizing: border-box;
  margin: 0 auto;
}
